<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom px-4" *ngIf="isLoggedIn()">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="#">SmartEvents</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent" *ngIf="isLoggedIn()">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a routerLink="/events" class="nav-link fw-bold">My Events</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/account" class="nav-link fw-bold">Account</a>
                </li>
                <li class="nav-item">
                    <a (click)="logout()" class="nav-link text-danger fw-bold" style="cursor: pointer;">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container-fluid p-4">
    <router-outlet></router-outlet>
</div>